# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'kotidockerhub'
        repository: 'products_store_mvc'
        command: 'build'
        Dockerfile: '**/Dockerfile'
        tags: 'vellankikoti/products_store_mvc:v2.$(Build.BuildId)'
    - task: Docker@2
      inputs:
        containerRegistry: 'kotidockerhub'
        repository: 'products_store_mvc'
        command: 'push'
        tags: 'vellankikoti/products_store_mvc:v2.$(Build.BuildId)'
    
    - task: CopyFiles@2
      inputs:
        Contents: '**'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'